<div class="profile-container">

  <header class="profile-header">

    <div class="avatar-container">
      <img [src]="profileData.foto_perfil_url"
           class="profile-avatar"
           (error)="onImageError($event)">
    </div>

    <div class="details-container">

      <div class="details-top">

        <h2 class="username">{{ profileData.nome_usuario }}</h2>

        <ng-container *ngIf="isMyProfile; else outroPerfil">

          <a routerLink="/editar-perfil" class="header-button">Editar Perfil</a>

          <a routerLink="/criar-receita" class="header-button create-button">
            Criar Receita
          </a>

          <button class="header-button logout" (click)="logout()">
            Sair
          </button>

        </ng-container>

        <ng-template #outroPerfil>

          <button class="header-button follow-button" (click)="toggleFollow()">
            {{ isFollowing ? 'Seguindo' : 'Seguir' }}
          </button>

          <button class="header-button" (click)="router.navigate(['/feed'])">
            Voltar
          </button>

        </ng-template>

      </div>

      <ul class="profile-stats">
        <li><span>{{ myRecipesCount }}</span> posts</li>
       <li (click)="openFollowers()" class="clickable">
  <span>{{ followersCount }}</span> seguidores
</li>

<li (click)="openFollowing()" class="clickable">
  <span>{{ followingCount }}</span> seguindo
</li>
      </ul>

      <div class="profile-bio">
        <p class="full-name">{{ profileData.nome_completo || profileData.nome_usuario }}</p>
        <p>{{ profileData.bio || 'Amante de culinária e explorador de sabores!' }}</p>
      </div>

    </div>

  </header>

  <nav class="content-tabs">
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <i class="fa-solid fa-table-cells"></i> POSTAGENS
    </a>

    <a *ngIf="isMyProfile" routerLink="/dashboard/curtidas" routerLinkActive="active">
      <i class="fa-solid fa-heart"></i> CURTIDAS
    </a>
  </nav>

  <router-outlet></router-outlet>

</div>
